<mdl-tabs mdl-ripple mdl-tab-active-index="0">
    <mdl-tab-panel>
        <mdl-tab-panel-title>
            Rooms &amp; Devices
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>

            <!-- New Room FAB button -->
            <button (click)="newRoomDialog.show()" mdl-button  mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
                <mdl-icon>add</mdl-icon>
            </button>

            <!-- Manage Rooms and Devices -->
            <div class="mdl-grid">

                <!-- room card -->
                <template ngFor let-client [ngForOf]="deviceService.clientRoomDevices" let-i="index" [ngForTrackBy]="trackByFn">
                    <div *ngFor="let room of client.rooms" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-card mdl-card-expand class="mdl-shadow--2dp">
                            <mdl-card-title>
                                <h2 mdl-card-title-text [mdl-tooltip]="client.ip"> {{ room['name'] }} </h2>
                            </mdl-card-title>

                            <!-- list of devices -->
                            <mdl-card-supporting-text>
                                <p *ngIf="room['devices'].length == 0">Now add some devies to the room.</p>
                                <mdl-list>
                                    <mdl-list-item *ngFor="let device of room['devices']">
                                        <mdl-list-item-primary-content>
                                            {{ device.name }}
                                        </mdl-list-item-primary-content>
                                        <mdl-list-item-secondary-content>
                                            <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>edit</mdl-icon></button>
                                            <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
                                                <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider (click)="deleteDevice(device['_id'], client['ip']);">Remove Device</mdl-menu-item>
                                            </mdl-menu>
                                        </mdl-list-item-secondary-content>
                                    </mdl-list-item>
                                </mdl-list>

                            </mdl-card-supporting-text>
                            <!-- /list of devices -->

                            <mdl-card-actions mdl-card-border>
                                <button mdl-button mdl-colored mdl-ripple (click)="editingRoom = room['_id']; editingClient = client['ip']; newDeviceDialog.show()">Add Device</button>
                            </mdl-card-actions>

                            <div class="mdl-card__menu">
                                <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
                                <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
                                    <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider (click)="deleteRoom(room['_id'], client['ip']);">Remove Room </mdl-menu-item>
                                </mdl-menu>
                            </div>
                        </mdl-card>
                    </div>
                </template>
                <!-- /new room card -->
            </div>
            <!-- /mdl-grid -->

        </mdl-tab-panel-content>
    </mdl-tab-panel>
    <mdl-tab-panel>
        <mdl-tab-panel-title>
            Clients
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
            <!-- Manage Clients -->
            <div class="mdl-grid">
                <mdl-progress *ngIf="scanning" indeterminate></mdl-progress>

                <!-- clients card -->
                <div *ngFor="let client of this.deviceService.clientRoomDevices" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <mdl-card mdl-card-expand class="mdl-shadow--2dp">
                        <mdl-card-title>
                            <h2 mdl-card-title-text> {{ client['name'] }} </h2>
                        </mdl-card-title>
                        <mdl-card-supporting-text>
                            <p> {{ client['ip'] }} </p>
                        </mdl-card-supporting-text>
                        <div class="mdl-card__menu">
                            <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
                            <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
                                <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider (click)="deleteClient(client['_id']);">Remove Client</mdl-menu-item>
                            </mdl-menu>
                        </div>
                    </mdl-card>
                </div>
                <!-- /clients card -->

            </div>
            <!-- /mdl-grid -->
        </mdl-tab-panel-content>
    </mdl-tab-panel>
</mdl-tabs>

<!-- first boot, name this client dialog -->
<mdl-dialog #initialSetupDialog [mdl-dialog-config]="{
    styles:{'width': '300px'},
    isModal:true,
    openFrom: editUserButton,
    enterTransitionDuration: 400,
    leaveTransitionDuration: 400}">
    <h3 class="mdl-dialog__title">First Boot</h3>
    <div class="mdl-dialog__content">
        <mdl-textfield [(ngModel)]="thisClientName" type="text" label="Name This Pi" floating-label></mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button (click)="saveConfig();" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Add</button>
    </div>
</mdl-dialog>

<!-- new room dialog -->
<mdl-dialog #newRoomDialog [mdl-dialog-config]="{
    clickOutsideToClose: true,
    styles:{'width': '300px'},
    isModal:true,
    openFrom: editUserButton,
    enterTransitionDuration: 400,
    leaveTransitionDuration: 400}">
    <h3 class="mdl-dialog__title">New Room</h3>
    <div class="mdl-dialog__content">
        <mdl-textfield #newRoomName type="text" label="Room Name" floating-label></mdl-textfield>
        <select [(ngModel)]="newRoomClientIP">
            <option *ngFor="let client of deviceService.clientRoomDevices" [value]="client['ip']">
                {{ client['name'] }}
            </option>
        </select>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button (click)="saveNewRoom(); newRoomDialog.close()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Add</button>
        <button mdl-button (click)="newRoomDialog.close()" mdl-ripple>Cancel</button>
    </div>
</mdl-dialog>

<!-- new device dialog -->
<mdl-dialog #newDeviceDialog [mdl-dialog-config]="{
    clickOutsideToClose: true,
    styles:{'width': '300px'},
    isModal:true,
    openFrom: editUserButton,
    enterTransitionDuration: 400,
    leaveTransitionDuration: 400}">
    <h3 class="mdl-dialog__title">New Device</h3>
    <div class="mdl-dialog__content">
        <!-- device name -->
        <mdl-textfield #newDeviceName type="text" label="Device Name" floating-label></mdl-textfield>
        <!-- device pin -->
        <mdl-textfield #newDevicePin type="number" label="GPIO Pin" floating-label></mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button (click)="saveNewDevice(); newDeviceDialog.close()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Add</button>
        <button mdl-button (click)="newDeviceDialog.close()" mdl-ripple>Cancel</button>
    </div>
</mdl-dialog>
