<mdl-progress *ngIf="scanning" indeterminate></mdl-progress>
<div class="mdl-grid">
    <template ngFor let-client [ngForOf]="deviceService.clientRoomDevices" let-i="index" [ngForTrackBy]="trackByFn">
        <div *ngFor="let room of client.rooms" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <!-- room card -->
            <mdl-card mdl-card-expand class="mdl-shadow--2dp">
                <mdl-card-title>
                    <h2 mdl-card-title-text [mdl-tooltip]="client.ip"> {{ room.name }} </h2>
                </mdl-card-title>
                <mdl-card-supporting-text>
                    <!-- list of devices -->
                    <mdl-list>
                        <mdl-list-item *ngFor="let device of room['devices']">
                            <mdl-list-item-primary-content>
                                {{ device.name }}
                            </mdl-list-item-primary-content>
                            <mdl-list-item-secondary-action>
                                <mdl-switch mdl-ripple (click)="switchDevice(device['pin'], client['ip'])" [(ngModel)]="device['status']"></mdl-switch>
                            </mdl-list-item-secondary-action>
                        </mdl-list-item>
                    </mdl-list>
                </mdl-card-supporting-text>
            </mdl-card>
        </div>
    </template>
</div>
